.left{
    -fx-background-color:#fff;
    
}

.jfx-tab-pane:top .depth-container .tab-header-area .tab-header-background{
    -fx-background-color: #3399ff;
}

.jfx-tab-pane:top .depth-container .tab-header-area .headers-region .tab{
    -fx-pref-width:220px;
}
.date:editable .arrow-button{
    margin: 20px;

}
.split-menu-button .label{
    -fx-padding: 0 -1px 0 1px;
}
.split-menu-button .arrow-button{
    -fx-background-color: #fff;
}

.split-menu-button * {
    -fx-background-radius: 0px;
}

.menu-item{
    -fx-padding:  0 -5px;
    margin-top: 5px;
}
.jfxbuttonindeep {
    -fx-min-height: 30px;
    -fx-background-color: #fff;
    -fx-alignment: center-left;
    -fx-min-width: 200px;
}



/*                     SINGIN                 */